@import 'tailwindcss';

main,
a,
button,
input {
  -webkit-app-region: no-drag;
}

* {
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

*::-webkit-scrollbar {
  -webkit-app-region: no-drag;
}

.cm-focused {
  outline: none !important;
}

.cm-activeLine {
  background-color: transparent !important;
}

.cm-editor {
  height: auto !important;
  max-height: none !important;
}

.cm-scroller {
  font-family:
    ui-sans-serif,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Helvetica,
    'Apple Color Emoji',
    Arial,
    sans-serif,
    'Segoe UI Emoji',
    'Segoe UI Symbol' !important;
}

.cm-panels-bottom {
  position: fixed !important;
  right: 0 !important;
  left: 200px !important;
}

.cm-search {
  font-size: 14px;
}

.cm-search label {
  display: inline-flex;
  align-items: center;
}

main {
  @apply text-xs pt-0 flex grow bg-white;
}

article {
  @apply w-full h-[calc(100vh-30px)] overflow-y-scroll;
}

.empty-page {
  @apply w-full h-full grow bg-gray-50;
}

.title-field {
  @apply outline-none text-lg p-2 resize-none w-full;
}

header {
  @apply bg-gray-100 text-xs flex items-center justify-center px-3 h-[30px] border-b border-[rgb(218,218,218)];
}

.editor {
  @apply p-5;
}

.setup-conatiner {
  @apply p-20 flex text-xs items-center justify-center h-[calc(100vh-30px)];
}

.setup {
  @apply flex gap-2 items-center text-gray-500;
}

.open-file-button {
  @apply hover:bg-gray-50 rounded py-1 px-2;
}

.open-file-shortcut {
  @apply flex gap-1 items-center;
}

.keyboard {
  @apply border border-gray-300 bg-gray-50 w-6 flex items-center h-6 shadow rounded p-2 justify-center;
}

aside {
  @apply bg-gray-100 border-r border-[rgb(218,218,218)] max-w-[200px] w-[200px] min-w-[200px];
}

.file-list {
  @apply h-[calc(100vh-90px)] relative pt-2 pb-[70px];
}

.search-bar-container {
  @apply p-3 pb-0;
}

.search-bar {
  @apply bg-white border gap-1 border-gray-300 rounded-lg p-1 flex items-center;
}

.search-icon {
  @apply text-gray-600;
}

.search-field {
  @apply outline-none placeholder:text-gray-300;
}

.sidebar-footer {
  @apply fixed bottom-0 left-0 w-[200px] border-r border-[rgb(218,218,218)] h-[50px] p-2 text-left z-10 bg-gray-100;
}

.add-button {
  @apply rounded p-1 hover:bg-gray-200 flex items-center transition-all;
}
