@import 'tailwindcss';

a,
button,
input {
  -webkit-app-region: no-drag;
}

* {
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

*::-webkit-scrollbar {
  -webkit-app-region: no-drag;
}

.cm-focused {
  @apply !outline-none;
}

.cm-activeLine {
  @apply !bg-transparent;
}

.cm-editor {
  @apply !h-auto !max-h-none;
}

.cm-scroller {
  font-family: BlinkMacSystemFont, 'Segoe UI Symbol' !important;
  @apply p-2 min-h-[calc(100vh-100px)] pb-[calc(100vh-100px)];
}

.cm-panels-bottom {
  @apply !sticky !right-0 !left-0;
}

.cm-search {
  @apply text-[14px];
}

.cm-search label {
  @apply inline-flex items-center;
}

main {
  @apply text-[10pt] pt-0 flex grow;
}

article {
  @apply w-full h-screen overflow-y-scroll;
}

.empty-page {
  @apply w-full h-full grow bg-gray-50;
}

.title-field {
  @apply outline-none text-lg p-3 resize-none w-full font-semibold text-gray-800;
}

header {
  @apply bg-[rgb(245,245,245)] sticky top-0 z-10 text-[10pt] flex items-center px-3 h-[48px] shadow-sm justify-center text-gray-800;
  -webkit-app-region: drag;
}

.editor {
  @apply bg-[rgba(256,256,256)];
}

.setup-container {
  @apply bg-white p-20 flex text-[10pt] items-center justify-center h-[calc(100vh-30px)];
}

.setup {
  @apply flex gap-2 items-center text-gray-500;
}

.open-file-button {
  @apply hover:bg-gray-50 rounded py-1 px-2;
}

.open-file-shortcut {
  @apply flex gap-1 items-center;
}

.keyboard {
  @apply border border-gray-300 bg-gray-50 w-6 flex items-center h-6 shadow rounded p-2 justify-center;
}

aside {
  @apply select-none border-r border-[rgb(218,218,218)] max-w-none;
}

.sidebar-header {
  @apply h-[48px];
  -webkit-app-region: drag;
}

.file-list {
  @apply h-[calc(100vh-40px)] relative pb-2;
}

.search-bar-container {
  @apply p-3 pb-0;
}

.search-bar {
  @apply bg-[rgba(255,255,255,0.7)] border gap-1 border-gray-300 rounded-lg p-1 flex items-center;
}

.search-icon {
  @apply text-gray-600;
}

.search-field {
  @apply outline-none placeholder:text-gray-300;
}

.sidebar-footer {
  @apply opacity-0 fixed bottom-0 right-0;
}

.add-button {
  @apply absolute left-2 rounded p-2 text-gray-600 flex items-center transition-all hover:bg-[rgba(0,0,0,0.05)];
}

.file-item {
  @apply h-full w-full block leading-[16px] text-gray-800 text-left cursor-default rounded px-2 py-1 items-center overflow-hidden truncate;
}

.cm-completionIcon {
  @apply !hidden;
}

.cm-textfield {
  @apply rounded;
}

.cm-button {
  @apply !bg-white !border !border-gray-300 !rounded;
  background-image: none !important;
}

input[type='checkbox'] {
  @apply border !border-gray-300;
}
